.homeTopContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    z-index: 99;
}

.homeTopContentP {
    max-width: 35rem;
    margin: 0px;
    margin-bottom: 2rem;
}