.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.footer {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}