.pageWrapper {
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.shapeDividerHolder, .shapeDividerHolder2 {
  position: relative;
}

.shapeDividerHolder2 {
  margin-top: 1rem;
}

.footer {
  background-color: white;
  min-height: 10rem;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}