.pageWrapper {
  min-height: 99vh;
  min-width: 99vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.footer {
  min-height: 10rem;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}