@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --textcoldark: #4a4a4a;
  --brandcol1: white;
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255,233,0);
  background: linear-gradient(221deg, rgb(255, 233, 0) 23%, rgba(0,255,224,1) 82%);
}

main {
  width: 100%;
  min-height: 25rem;
  margin-top: 32rem;
}

input, button {
  color: var(--textcoldark);
}

h1, h2, h3, h4, h5, input, button, label, ::placeholder, p {
  font-family: 'Comfortaa', cursive;
  color: var(--textcoldark);
}
