.layoutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.footer {
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}